<div class="container">
    <div class="previous-box">
        <div class="previous-box-image">
            <img src="/assets/images/project_1.png" alt="screenshot of my project">
            <h3>Angular list of prohibited words</h3>
        </div>
        <div class="previous-box-btnBlock">
            <button type="button" [routerLink]="[ '/works/cenzor' ]">details</button>
        </div>
    </div>
    <div class="previous-box">
        <div class="previous-box-image">
            <img src="/assets/images/project_2.png" alt="screenshot of my project">
            <h3>Angular users list</h3>
        </div>
        <div class="previous-box-btnBlock">
            <button type="button" [routerLink]="[ '/works/userlist' ]">details</button>
        </div>
    </div>
    <div class="previous-box">
        <div class="previous-box-image">
            <img src="/assets/images/project_3.png" alt="screenshot of my project">
            <h3>Angular task list</h3>
        </div>
        <div class="previous-box-btnBlock">
            <button type="button" [routerLink]="[ '/works/tasklist' ]">details</button>
        </div>
    </div>
</div>